<footer>
  <div class="grid-x" data-equalizer>
    <div class="auto cell out-vc" data-equalizer-watch>
      <div class="in-vc">
        <p style="margin:0px;"><small>Copyright © 2019 Gurkar Laboratory / Department of Medicine / University of Pittsburgh / All Rights Reserved.</small></p>
      </div>
    </div>
    <div class="shrink cell out-vc" data-equalizer-watch>
      <div class="in-vc center ">
        <a target="blank" href="https://twitter.com/healthspan_AUG"><i class="social_header fi-social-twitter size-36"></i></a>
        <a target="blank" href="https://www.linkedin.com/in/aditigurkar/"><i class="social_header fi-social-linkedin size-36"></i></a>
        <a target="blank" href="https://www.instagram.com/thegurkarlab/"><i class="social_header fi-social-instagram size-36"></i></a>
      </div>
    </div>

  </div>
</footer>

<script
src="https://code.jquery.com/jquery-3.2.1.js"
integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
crossorigin="anonymous"></script>
<script src="<% if(dirName) { %><%=dirName%><%}%>/js/jquery.event.move.js"></script>
<script src="<% if(dirName) { %><%=dirName%><%}%>/js/jquery.twentytwenty.js"></script>
<script src="<% if(dirName) { %><%=dirName%><%}%>/js/vendor/what-input.js"></script>
<script src="<% if(dirName) { %><%=dirName%><%}%>/js/vendor/foundation.js"></script>
<script src="<% if(dirName) { %><%=dirName%><%}%>/js/app.js"></script>
<script>
  $(function(){
    $(".twentytwenty-container[data-orientation!='vertical']").twentytwenty({default_offset_pct: 0.5});
    $(".twentytwenty-container[data-orientation='vertical']").twentytwenty({default_offset_pct: 0.3, orientation: 'vertical'});
  });
  </script>