<header >
  <div id='header'>
    <div class="grid-x grid-padding-x" data-equalizer>
      <div class="shrink cell out-vc" data-equalizer-watch>
        <div class="in-vc">
          <i class="fi-list large show-for-small-only" id='mobile-menu-icon'></i>
          <a href="<% if(dirName) { %><%=dirName%><%}%>" class='show-for-medium-up'>
            <img src="<% if(dirName) { %><%=dirName%><%}%>/img/logos/logo.png" id='header-logo' class='top-bar-logo'>
          </a>
          <a href="<% if(dirName) { %><%=dirName%><%}%>" class='show-for-small-only'>
            <img src="<% if(dirName) { %><%=dirName%><%}%>/img/logos/small_logo.png" id='header-logo' class='top-bar-logo small-logo'>
          </a>
        </div>
      </div>
      <div class="auto cell out-vc" data-equalizer-watch>
        <div class="in-vc">
          <div class='top-bar-right'>
            <ul class="dropdown menu show-for-medium white" id='header-menu-items' data-dropdown-menu>
              <% for(let i = 0; i < pages.main.length; i++) { %>
              <li>
                <a class='top-bar-link' href="<% if(dirName) { %><%=dirName%><%}%><%= pages.main[i].link %>">
                  <%= pages.main[i].title %>
                </a>
              </li>
              <% } %>
              <li>
                <a id='hamburger' class='top-bar-link'>
                  <i id='ham-open' class="fi-list"></i>
                  <i id='ham-close' class="fi-x hide"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="small-4 medium-2 cell out-vc"  data-equalizer-watch>
        <div class='in-vc'>
          <a target="blank" href="https://twitter.com/healthspan_AUG"><i class="social_header fi-social-twitter size-36"></i></a>
          <a target="blank" href="https://www.linkedin.com/in/aditigurkar/"><i class="social_header fi-social-linkedin size-36"></i></a>
          <a target="blank" href="https://www.instagram.com/thegurkarlab/"><i class="social_header fi-social-instagram size-36"></i></a>
        </div>
      </div>
    </div>
  </div>
  <div id='hamburger-menu' class='hamburger-menu-items grid-x medium-up-3'>
    <% for(let i = 0; i < pages.hamburger.length; i++) { %>
      <div id='hm-0<%= i %>' class='hamburger-menu-list cell' style="background-image: url('<% if(dirName) { %><%=dirName%><%}%>/<%= pages.hamburger[i].image %>');">
        <div class='grid-x grid-padding-x grid-padding-y hamburger-overlay'>
          <div class='cell'>
            <div class="main-navigation-title">
              <h4 class='hamburger-header'><%=pages.hamburger[i].title%></h4>
            </div>
            <div>
              <ul class="vertical menu align-left">
                <% for(let j = 0; j < pages.hamburger[i].link.length; j++) { %>
                  <li>
                    <a class='hamburger-menu-link' href="<% if(dirName) { %><%=dirName%><%}%><%= pages.hamburger[i].link[j].link %>">
                      <span class='fi-play my-arrow'></span><%=pages.hamburger[i].link[j].title%>
                    </a>
                  </li>
                  <% } %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <% } %>
  </div>
</header>
  <% include ../partials/mobileHeader %>  