<% include ../partials/head %>
<% include ../partials/header %>  
<div
class='bg-img bg-main-header'
style='background-image:url("<% if(dirName) { %><%=dirName%><%}%>/img/bg/bg1.jpg")'>
  <div class='bg-center-container'>
    <h1 class='bg-heading'>
      Lab Culture
    </h1>
  </div>
</div>
<div class='grid-x grid-container medium-up-1 add-padd' >
  <div class='cell center'>
    <img class='we-believe-img' src='<% if(dirName) { %><%=dirName%><%}%>/img/Labfun/weBelieve.png'>
  </div>
  <div class='cell center'>
    <a class='animated-arrow' href="https://drive.google.com/file/d/1SOl9w8lHMWpAxXemjPdJI9JW_GMwU_4m/view?usp=sharing">
      <span class='the-arrow -left'>
        <span class='shaft'></span>
      </span>
      <span class='main'>
        <span class='text'>
          View Lab Manual
        </span>
        <span class='the-arrow -right'>
          <span class='shaft'></span>
        </span>
      </span>
    </a>
  </div>
</div>
<div
id='labFun'
class='bg-img'
style='background-image:url("<% if(dirName) { %><%=dirName%><%}%>/img/bg/bg2.jpg")'>
  <div class='bg-center-container'>
    <h1 class='bg-heading'>
      Lab Fun
    </h1>
  </div>
</div>
<div class='grid-x grid-container medium-up-3' >
  <%
    if (results && results.labFun) {
    for (let i = 0; i < results.labFun.length; i++) { 
  %>
    <div class="cell grid-image">
      <div class='my-card'>
        <div 
          class='card-img thumbnail my-grid-img'
          onclick='showThisImg("<%=results.labFun[i].images %>", "<%= results.labFun[i].dir %>")'
          style='background-image: url("<% if(dirName) { %><%=dirName%><%}%>/img/Labfun/grid-images/<%= results.labFun[i].dir %>/<%=results.labFun[i].images[0] %>");'
        ></div>
        <div class='cell'>
          <p class='my-grid-text'>
            <%= results.labFun[i].title %>
          </p>
        </div>
      </div>
    </div>
  <% }}%>
</div>
<div
id='funThings'
class='bg-img'
style='background-image:url("<% if(dirName) { %><%=dirName%><%}%>/img/bg/bg3.jpg")'>
  <div class='bg-center-container'>
    <h1 class='bg-heading'>
      Fun things we do
    </h1>
  </div>
</div>
<div class='grid-x grid-container grid-padding-y large-offset-2 add-padd' >
  <div class='cell large-8'>
    <div class='grid-x grid-padding-x' data-equalizer>
      <div class='cell shrink out-vc border-right' data-equalizer-watch>
        <div class='in-vc'>
          <img src='<% if(dirName) { %><%=dirName%><%}%>/img/Labfun/fun/gredDunn.jpg' class='fun-img'>
        </div>
      </div>
      <div class='cell auto out-vc' data-equalizer-watch>
        <div class='in-vc'>
          <h4>
            Hybridization of science and art
          </h4>
          <p>
            Check out one of our favorite artist. Greg Dunn designs.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class='cell large-8'>
    <div class='grid-x grid-padding-x' data-equalizer>
      <div class='cell shrink out-vc border-right' data-equalizer-watch>
        <div class='in-vc'>
          <img src='<% if(dirName) { %><%=dirName%><%}%>/img/Labfun/fun/radiolab.jpg' class='fun-img'>
        </div>
      </div>
      <div class='cell auto out-vc' data-equalizer-watch>
        <div class='in-vc'>
          <h4>
            Radiolab
          </h4>
          <p>
            Radiolab can be heard as a podcast produced by WNYC.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class='cell large-8'>
    <div class='grid-x grid-padding-x' data-equalizer>
      <div class='cell shrink out-vc border-right' data-equalizer-watch>
        <div class='in-vc'>
          <img src='<% if(dirName) { %><%=dirName%><%}%>/img/Labfun/fun/breakthrough.jpg' class='fun-img'>
        </div>
      </div>
      <div class='cell auto out-vc' data-equalizer-watch>
        <div class='in-vc'>
          <h4>
            Breakthroughs “Age of Aging”
          </h4>
          <p>
            National Geographic Channel’s series directed by Ron Howard highlighted aging research as a breakthrough in Nov 2015.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class='cell large-8'>
    <div class='grid-x grid-padding-x' data-equalizer>
      <div class='cell shrink out-vc border-right' data-equalizer-watch>
        <div class='in-vc'>
          <img src='<% if(dirName) { %><%=dirName%><%}%>/img/Labfun/fun/labFunWebsite.jpg' class='fun-img'>
        </div>
      </div>
      <div class='cell auto out-vc' data-equalizer-watch>
        <div class='in-vc'>
          <h4>
            Awesome Science sites we love
          </h4>
          <p>
            <ul>
              <li><a href="http://nautil.us/" target="blank">Nautilus</a></li>
              <li><a href="https://massivesci.com/" target="blank">Massive science</a></li>
              <li><a href="https://undark.org/" target="blank">Undark</a></li>
              <li><a href="https://aeon.co/" target="blank">Aeon</a></li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class='cell large-8'>
    <div class='grid-x grid-padding-x' data-equalizer>
      <div class='cell shrink out-vc border-right' data-equalizer-watch>
        <div class='in-vc'>
          <img src='<% if(dirName) { %><%=dirName%><%}%>/img/Labfun/fun/oliver_sacks.jpeg' class='fun-img'>
        </div>
      </div>
      <div class='cell auto out-vc' data-equalizer-watch>
        <div class='in-vc'>
          <h4>
            Oliver Sacks
          </h4>
          <p>
            Oliver Sacks- always inspiring!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="reveal" id="my-img-modal" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
  <div class='big-grid-img'>
    <div class='grid-x'>
      <img id='img-show'/>
      <span onclick='goPrev()' id='arrow-left' class='fi fi-arrow-left my-custom-arrow'></span>
      <span onclick='goNext()' id='arrow-right' class='fi fi-arrow-right my-custom-arrow'></span>
    </div>
  </div>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div
id='testimonials'
class='bg-img'
style='background-image:url("<% if(dirName) { %><%=dirName%><%}%>/img/bg/bg3.jpg")'>
  <div class='bg-center-container'>
    <h1 class='bg-heading'>
      Testimonials
    </h1>
  </div>
</div>
<div class='grid-x large-offset-2 grid-container grid-padding-y grid-padding-x add-padd'>
  <div class='cell large-8'>
      <%
      if (results && results.testimonials) {
      for (let i = 0; i < results.testimonials.length; i++) { 
    %>
    <div class='grid-x  grid-padding-x grid-margin-y team-card' data-equalizer>
      <div class='cell shrink center out-vc border-right'>
        <div class='in-vc'>
          <img class='team-img' src='<% if(dirName) { %><%=dirName%><%}%>/<%=results.testimonials[i].image %>'>
        </div>
      </div>
      <div class='cell auto out-vc'>
        <div class='in-vc'>
          <h5><b><%=results.testimonials[i].name %></b> <br/><%=results.testimonials[i].title ? `${results.testimonials[i].title}` : `` %></h5>
          <p class='web-pro-text'><%=results.testimonials[i].smallDesc %></p>
          <p class='web-pro-text'><a data-toggle="panel-<%=i%>">Read More</a></p>
          <div class='hidden-pannel' data-animate="hinge-in-from-top hinge-out-from-top" data-toggler id='panel-<%=i%>'>
            <p class='web-pro-text'><%=results.testimonials[i].description %></p>
          </div>
        </div>
      </div>
    </div>
  <%}}%>
  </div>
</div>

<% include ../partials/footer %>
<% include ../partials/tail %>
  
