<% include ../partials/head %>
<% include ../partials/header %>  
<div
class='bg-img'
style='background-image:url("img/bg/bg1.jpg")'>
  <div class='bg-center-container'>
    <h1 class='bg-heading'>
      Lab Culture
    </h1>
  </div>
</div>
<div class='grid-x grid-container add-padd' >
  <div class='cell center'>
    <h3>Lab Fun</h3>
  </div>
</div>
<div class='grid-x grid-container medium-up-3' >
  <%
    if (results && results.labFun) {
    for (let i = 0; i < results.labFun.length; i++) { 
  %>
    <div class="cell grid-image">
      <div class='my-card'>
        <div 
          class='card-img thumbnail my-grid-img'
          onclick='showThisImg("<%=results.labFun[i].images %>", "<%= results.labFun[i].dir %>")'
          style='background-image: url("img/Labfun/grid-images/<%= results.labFun[i].dir %>/<%=results.labFun[i].images[0] %>");'
        ></div>
        <div class='cell'>
          <p class='my-grid-text'>
            <%= results.labFun[i].title %>
          </p>
        </div>
      </div>
    </div>
  <% }}%>
</div>
<div
class='bg-img'
style='background-image:url("img/bg/bg2.jpg")'>
  <div class='bg-center-container'>
    <h1 class='bg-heading'>
      Fun things we do
    </h1>
  </div>
</div>
<div class='grid-x grid-container grid-padding-y large-offset-2 add-padd' >
  <div class='cell large-8'>
    <div class='grid-x grid-padding-x' data-equalizer>
      <div class='cell shrink out-vc border-right' data-equalizer-watch>
        <div class='in-vc'>
          <img src='img/Labfun/fun/gredDunn.jpg' class='fun-img'>
        </div>
      </div>
      <div class='cell auto out-vc' data-equalizer-watch>
        <div class='in-vc'>
          <h4>
            Hybridization of science and art
          </h4>
          <p>
            Check out one of our favorite artist. Greg Dunn designs.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class='cell large-8'>
    <div class='grid-x grid-padding-x' data-equalizer>
      <div class='cell shrink out-vc border-right' data-equalizer-watch>
        <div class='in-vc'>
          <img src='img/Labfun/fun/radiolab.jpg' class='fun-img'>
        </div>
      </div>
      <div class='cell auto out-vc' data-equalizer-watch>
        <div class='in-vc'>
          <h4>
            Radiolab
          </h4>
          <p>
            Radiolab can be heard as a podcast produced by WNYC.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class='cell large-8'>
    <div class='grid-x grid-padding-x' data-equalizer>
      <div class='cell shrink out-vc border-right' data-equalizer-watch>
        <div class='in-vc'>
          <img src='img/Labfun/fun/breakthrough.jpg' class='fun-img'>
        </div>
      </div>
      <div class='cell auto out-vc' data-equalizer-watch>
        <div class='in-vc'>
          <h4>
            Breakthroughs “Age of Aging”
          </h4>
          <p>
            National Geographic Channel’s series directed by Ron Howard highlighted aging research as a breakthrough in Nov 2015.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class='cell large-8'>
    <div class='grid-x grid-padding-x' data-equalizer>
      <div class='cell shrink out-vc border-right' data-equalizer-watch>
        <div class='in-vc'>
          <img src='img/Labfun/fun/labFunWebsite.jpg' class='fun-img'>
        </div>
      </div>
      <div class='cell auto out-vc' data-equalizer-watch>
        <div class='in-vc'>
          <h4>
            Awesome Science sites we love
          </h4>
          <p>
            <ul>
              <li><a href="http://nautil.us/" target="blank">Nautilus</a></li>
              <li><a href="https://massivesci.com/" target="blank">Massive science</a></li>
              <li><a href="https://undark.org/" target="blank">Undark</a></li>
              <li><a href="https://aeon.co/" target="blank">Aeon</a></li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class='cell large-8'>
    <div class='grid-x grid-padding-x' data-equalizer>
      <div class='cell shrink out-vc border-right' data-equalizer-watch>
        <div class='in-vc'>
          <img src='img/Labfun/fun/oliver_sacks.jpeg' class='fun-img'>
        </div>
      </div>
      <div class='cell auto out-vc' data-equalizer-watch>
        <div class='in-vc'>
          <h4>
            Oliver Sacks
          </h4>
          <p>
            Oliver Sacks- always inspiring!
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="reveal" id="my-img-modal" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
  <div class='big-grid-img'>
    <img class='grid-x' id='img-show'/>
    <div class='arrow-div'>
      <span onclick='goPrev()' class='fi fi-arrow-left'></span>
      <span onclick='goNext()' class='fi fi-arrow-right'></span>
    </div>
  </div>
  <button class="close-button" data-close aria-label="Close reveal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
  <div class="orbit-wrapper">
    <div class="orbit-controls">
      <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
      <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
    </div>
    <ul class="orbit-container my-orbit">
      <%
        if (results && results.testimonials) {
        for (let i = 0; i < results.testimonials.length; i++) { 
      %>
      <li class="is-active orbit-slide">
        <div class="full-width-testimonial">
          <div class="full-width-testimonial-section">
            <div class="full-width-testimonial-icon text-center">
              <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                 width="41px" height="34px" viewBox="-235 240 41 34" style="enable-background:new -235 240 41 34;" xml:space="preserve">
                  <path class="quote-path" d="M-231.3,260.4c0-5,1.3-8.8,3.7-11.7c2.4-2.8,6-4.6,10.5-5.5v5c-3.5,1-6,2.8-7.1,5.5c-0.7,1.4-0.9,2.8-0.8,4
                    h8.1v12.8h-14.4V260.4z"/>
                  <path class="quote-path" d="M-212,260.4c0-5,1.3-8.8,3.7-11.7c2.4-2.8,6-4.6,10.5-5.5v5c-3.5,1-6,2.8-7.1,5.5c-0.7,1.4-0.9,2.8-0.8,4h8.1
                    v12.8H-212V260.4z"/>
              </svg>
            </div>
            <div class="full-width-testimonial-content">
              <h5 class="full-width-testimonial-text">
                <%=results.testimonials[i].description %>
              </h5>
              <div class='testimonial-profile'>
                <div class='grid-x'>
                  <div class='medium-6 cell medium-offset-3'>
                    <div class='grid-x grid-padding-x'>
                      <div class='cell shrink border-right'>
                        <img class='testimonial-img' src='<%=results.testimonials[i].image %>'>
                      </div>
                      <div class='cell auto'>
                        <p class="full-width-testimonial-source"><%=results.testimonials[i].name %></p>
                        <span class="full-width-testimonial-source-context"><%=results.testimonials[i].title %></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <%}}%>
    </ul>
  </div>
  <nav class="orbit-bullets">
    <button class="is-active" data-slide="0">
      <span class="show-for-sr">First slide details.</span>
      <span class="show-for-sr" data-slide-active-label>Current Slide</span>
    </button>
    <%
      if (results && results.testimonials) {
      for (let i = 1; i < results.testimonials.length; i++) { 
    %>
      <button data-slide="<%=i %>"><span class="show-for-sr"></span></button>
    <%}}%>
  </nav>
</div>

<div
class='bg-img'
style='background-image:url("img/bg/bg2.jpg")'>
  <div class='bg-center-container'>
    <h1 class='bg-heading'>
      Collaborations
    </h1>
  </div>
</div>

<div class='grid-x grid-container medium-offset-3 grid-padding-y grid-padding-x add-padd' >
  <div class='medium-6 cell center'>
    <div class='grid-x grid-padding-x'>
      <div class='cell shrink'>
        <span class="badge"><i class="fi-torso size-36"></i></span>
      </div>
      <div class='cell auto'>
        <h6>Patricia Opresko, Ph.D | 
          <a href='http://www.opreskolab.com/' target='blank' class='hollow button small'><i class="fi-web"></i></a></h6> 
      </div>
    </div>
    <div class='grid-x grid-padding-x'>
      <div class='cell shrink'>
        <span class="badge"><i class="fi-torso size-36"></i></span>
      </div>
      <div class='cell auto'>
        <h6>Charleen Chu, Ph.D. | 
          <a href='https://chulab.weebly.com/' target='blank' class='hollow button small'><i class="fi-web"></i></a></h6> 
      </div>
    </div>
    <div class='grid-x grid-padding-x'>
      <div class='cell shrink'>
        <span class="badge"><i class="fi-torso size-36"></i></span>
      </div>
      <div class='cell auto'>
        <h6>Steven Chan,MD, PhD, FAHA | 
          <a href='https://www.sychanlab.pitt.edu/' target='blank' class='hollow button small'><i class="fi-web"></i></a></h6> 
      </div>
    </div>
    <div class='grid-x grid-padding-x'>
      <div class='cell shrink'>
        <span class="badge"><i class="fi-torso size-36"></i></span>
      </div>
      <div class='cell auto'>
        <h6>Tzahi Cohen-Karni | 
          <a href='https://www.cohenkarni.com/' target='blank' class='hollow button small'><i class="fi-web"></i></a></h6> 
      </div>
    </div>
    <div class='grid-x grid-padding-x'>
      <div class='cell shrink'>
        <span class="badge"><i class="fi-torso size-36"></i></span>
      </div>
      <div class='cell auto'>
        <h6>TMichael Jurckzak | 
          <a href='https://profiles.dom.pitt.edu/faculty_info.aspx/Jurczak6570' target='blank' class='hollow button small'><i class="fi-web"></i></a></h6> 
      </div>
    </div>
  </div>
</div>


<% include ../partials/footer %>
<% include ../partials/tail %>
  
