<% include ../partials/head %>
<% include ../partials/header %>  
<div
class='bg-img bg-main-header'
style='background-image:url("<% if(dirName) { %><%=dirName%><%}%>/img/bg/bg1.jpg")'>
  <div class='bg-center-container'>
    <h1 class='bg-heading'>
      Lab News
    </h1>
  </div>
</div>
<div class='grid-container add-padd' >
  <% for (let i = 0; i < results.length; i++) { %>
    <div class="marketing-site-content-section">
      <% if(i % 2) {%>
      <div class="marketing-site-content-section-img">
        <img src="<% if(dirName) { %><%=dirName%><%}%>/<%=results[i].image %>" alt="" />
      </div>
      <%}%>
      <div class="marketing-site-content-section-block">
        <h2 class="marketing-site-content-section-block-header"><%-results[i].name%></h2>
        <p class="marketing-site-content-section-block-subheader web-pro-text subheader"><%-results[i].description%></p>
      </div>
      <% if(!(i % 2)) {%>
        <div class="marketing-site-content-section-img">
          <img src="<% if(dirName) { %><%=dirName%><%}%>/<%=results[i].image %>" alt="" />
        </div>
      <%}%>
    </div>
  <% } %>
</div>



<% include ../partials/footer %>
<% include ../partials/tail %>
  
