<% include ../partials/head %>
<% include ../partials/header %>  
<div
class='bg-img bg-main-header'
style='background-image:url("img/bg/bg1.jpg")'>
  <div class='bg-center-container'>
    <h1 class='bg-heading'>
      Publications
    </h1>
  </div>
</div>
<div class='grid-x grid-container add-padd' >
  <%
    for(let i = 0; i < results.length; i++){
  %>
  <div class='cell'>
    <div class='card'>
      <div class='grid-x grid-padding-x'>
        <div class='cell medium-8'>
          <h3><%-results[i].title %></h3>
          <p>Authors<br/><%-results[i].author %></p>
        </div>
        <div class='cell medium-4'>
          <h4><%-results[i].journal %></h4>
          <p>Published<br/><%-results[i].year %></p>
          <a class='animated-arrow'  href="<%=results[i].link%>">
            <span class='the-arrow -left'>
              <span class='shaft'></span>
            </span>
            <span class='main'>
              <span class='text'>
                Learn More
              </span>
              <span class='the-arrow -right'>
                <span class='shaft'></span>
              </span>
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <% } %>
</div>
<div class='grid-x grid-container add-padd' >
  <div class="timeline">
    <% for(let i = 0; i < results.length; i++){
      let direction = '';
      if (i%2 !== 0) {
        direction = 'right';
      }  
    %>
      <div class="timeline-item">
        <div class="timeline-icon">
          <i class="fa fi-book"></i>
        </div>
        <div class="timeline-content <%= direction %>">
          <h2 class="timeline-content-date"><%- results[i].year %></h2>
          <p><%- results[i].author %>. <a class='blue' href='<%- results[i].link %>'><%- results[i].title %></a> <%= results[i].journal %></p>
        </div>
      </div>
    <% } %>
  </div>
</div>



<% include ../partials/footer %>
<% include ../partials/tail %>
  
